@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
body{
  margin: auto;
  overflow-x: hidden;
}
.navbar{
  background-color: #F7F7F7 !important;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-masuk{
  background-color: #004A8E;
  color: #FFFFFF;
  padding: 0px 35px;
  border-radius: 15px;
}
.judulhp{
  font-size: 35px;
  font-weight: bold;
  margin-top: 150px;
}
.isihp{
  font-size: 20px;
}
.judul1hp{
  font-size: 35px;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 50px;
}
.isi1hp{
  margin-left: 50px;
  width: 85%;
  font-size: 24px;
}

.btn-hp{
  background-color: #004A8E;
  color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.imghp{
  margin: 50px;
}
.btn-modal{
  background-color: #004A8E;
  color: white;
}
.btn-pinang {
  color: white;
  background-color: #FF6A26;
}
.input_login{
  margin-left: 60px;
}

.vector {
  margin-top: 400px;
}

footer{
  background: #FFA500;
  padding: 10px;
  padding: 10px 20px;
  color: #F5F7D4;
  text-align: center;
}
